*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-color: #000000;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	position:relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 150px;
}
.nav-links{
	position: sticky;
	top: 0;
	flex-basis: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	display: block;
	margin: auto;
}
.nav-links ul li a:hover{
	color: yellow;
}
.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 40%;
	left: 40%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font: italic;
	font-size: 55px;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #ffff;
	border: 1px solid #ffff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	margin-top: 3%;
	border-radius: 5px;
	cursor: pointer;
}
.hero-btn:hover{
	border:  1px solid #f44336;
	background: #f44336;
	transition: 0.5s;
}
@media(max-width : 700px){
	.text-box h1{
		font-size: 20px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;;
		right: 0;
		text-align: left;
		z-index: 2;
	}
}



/*-----we---*/
.we{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	background-attachment: fixed;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
	border-spacing: separate;
	border-radius: 10px;

}
.we-col{
	flex-basis: 31%;
	width: 0%;
	margin-bottom: 5%;
	padding: 70px 50px;
	box-sizing: border-box;
	font-size: 18px;
	border-collapse: collapse;
}
.we-col a{
	text-decoration: none;
	border-style: hidden;
	border-color: lightgreen;
	color: #000000;
	padding: 70px 50px;
	margin: 5%;
}
.we-col a:hover{
	background-color: yellow;
	padding: 70px 50px;
	margin: 5%;
	border-radius: 10px;
	flex-basis: 31%;
	cursor: pointer;
}


.image{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/b1.jfif);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.new{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.new h1{
	font: italic;
	font-size: 45px;
}
.new p{
	left: 5%
	font: italic;
	font-size: x-large;
}
.Case-Study{
	display: inline-block;
	text-decoration: none;
	color: #ffff;
	border: 1px solid #ffff;
	padding: 12px 34px;
	font-size: 13px;
	margin-top: 1%;
	background: transparent;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
}
.Case-Study:hover{
	border:  1px solid #f44336;
	background: blueviolet;
	transition: 1s;
}

.vrikshit{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/clean1.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.vri{
	font: italic;
	width: 90%;
	color: #fff;
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.vri h1{
	font: italic;
	font-size: 45px;
}
.vri p{
	left: 5%;
	font: italic;
	font-size: x-large;
}
.Case-Vrikshit{
	display: inline-block;
	text-decoration: none;
	margin-top: 1%;
	color: #ffff;
	border: 1px solid #ffff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
}
.Case-Vrikshit:hover{
	border:  1px solid #f44336;
	background: sandybrown;
	transition: 1s;
}




/*-----littlehand foundation-----*/

.littlehand{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/little.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.little{
	font: italic;
	width: 90%;
	color: #fff;
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.little h1{
	font: italic;
	font-size: 45px;
}
.little p{
	left: 5%;
	font: italic;
	font-size: x-large;
}
.hand{
	border-radius: 5px;
	margin-top: 1%;
	display: inline-block;
	text-decoration: none;
	color: #ffff;
	border: 1px solid #ffff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hand:hover{
	border:  1px solid #f44336;
	background: mediumpurple;
	transition: 1s;
}

.success{
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	background-attachment: fixed;
	font: italic;
	background-color: black;
}
.success h1{
	color: white;
}
.suc{
	display: inline-block;
	color: white;
	border: solid 1px white;
	padding: 10px 50px;
	font-size: 25px;
	border-radius: 10px;
	text-decoration: none;
	background: transparent;
	cursor: pointer;
	margin-bottom: 10%;
	margin-top: 5%;
	position: relative;
}
.suc:hover{
	border: 1px solid #f44336;
	background: lightgreen;
	color: black;
	transition: 0.5s;
}
#body{
	margin-top:  0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 0, 0, 0.2);
}
.container{
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  margin-bottom:  10px;
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://static.wixstatic.com/media/2c4319_faba138d478647899a59f04fc48640b5~mv2.jpg/v1/fill/w_380,h_259,al_c,q_80,usm_0.66_1.00_0.01/2c4319_faba138d478647899a59f04fc48640b5~mv2.jpg");
  opacity: 0.8;
  background-image: no-repeat;

  padding: 10px;

}


.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  margin-bottom: 30px;
  color:  #d1d1e0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#image{
	top-margin: 200px;
    width: 70%;
    left: 0;
  }


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;

  }
  #image{
    width: 50%;
    left: 0;
  }
  input[type=submit]:hover {
  margin-bottom:  10px;
  background-color: #45a049;
}
  .container{
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}
  footer{
   position:  fixed;
   left: 0;
   bottom: 0;
   right: 0;
   width: 0%;
   background-color: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/clean1.jpg);
   font-color: #fff;
   text-align: center;
   justify-content: space-around;
   height: 20%;
   }

   #profile-link{
  width: 90px;
  margin-bottom: 10px;



}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;

}

img{
  width: 50px;
  margin-top:  0px;
  margin-bottom:  0px;
 

}
#h3{
  margin-bottom: 5px;
  margin-top: 5px;
}
#body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 0, 0, 0.2);
}
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    margin-top: 10px;


}
footer {
  position:  fixed;
   left: 0;
   bottom: 0px;
   width: 100%;
   background-color: grey;
   color:  #d1d1e0;
   text-align: center;
   height: 15%;
  


}
#contacts{
  width: 100px;
  margin-bottom:  0px;
 
}
img{
  width: 50px;
  margin-top:  0px;
  margin-bottom: 0px;
 

}
#h3{
  margin-bottom: 0px;
    margin-top: 5px;

}
 #profile-link{
  width: 90px;
  margin-bottom: 10px;
}
